.movies-cards {
    display: flex;
    flex-direction: column;
}

.movies-cards__list {
    display: grid;
    grid-template-columns: repeat(3, 364px);
    column-gap: 24px;
    row-gap: 37px;
    margin: 0 auto;
    padding: 0;
}

@media screen and (max-width: 1200px) {
    .movies-cards__list {
        grid-template-columns: repeat(2, 339px);
        gap: 30px;
    }
}

@media screen and (max-width: 767px) {
    .movies-cards__list {
        grid-template-columns: 300px;
        gap: 14px;
    }
}