.movies__card {
    list-style-type: none;
    background-color: #FDFDFD;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
    cursor: pointer;
}

.movies__image {
    display: block;
    width: 364px;
    height: 203px;
    object-fit: cover;
}

.movies__container {
    display: flex;
    justify-content: space-between;
    padding: 9px 16px 10px;
    align-items: center;
}

.movies__title {
    margin: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}

.movies__duration {
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #A0A0A0;
    margin: 0;
    padding: 0 16px 16px;
}

.movies__like {
    display: block;
    padding: 0;
    background-image: url(../../images/like.png);
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
}

.movies__like_active {
    background-image: url(../../images/like_active.png);
}

.movies__remove {
    display: block;
    background: url(../../images/remove.svg) no-repeat;
    background-position: center;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    border: none;
    padding: 0;
    margin-top: 2px;
    background-color: transparent;
}

@media screen and (max-width: 1200px) {
    .movies__container {
        padding: 8px 14px 7px;
    }

    .movies__duration {
        padding: 0 14px 14px;
    }

    .movies__image {
        width: 339px;
        height: 190px;
    }
}

@media screen and (max-width: 767px) {
    .movies__image {
        width: 300px;
        height: 168px;
    }

    .movies__container {
        padding: 7px 14px 8px;
    }

    .movies__title {
        font-size: 12px;
        line-height: 15px;
    }

    .movies__duration {
        font-size: 10px;
        line-height: 12px;
    }
}