.promo {
    min-height: 493px;
    align-items: center;
    background: #F5F5F5;
    border-radius: 10px;
    margin: 20px 40px 0;
}

.promo__text {
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    color: #000000;
    max-width: 730px;
    margin: 0 auto;
    text-align: center;
    letter-spacing: -0.04em;
    padding-top: 160px;
    padding-bottom: 121px;
}

@media screen and (max-width: 768px) {
    .promo {
        margin: 20px 20px 0;
      }

    .promo__text {
        font-size: 40px;
        line-height: 52px;
        padding: 350px 70px 285px;
    }
}

@media screen and (max-width: 700px) {
    .promo {
        margin: 14px;
      }

    .promo__text {
        font-size: 29px;
        line-height: 37px;
        padding: 220px 0 195px;
    }
}