.saved-movies {
    margin-bottom: 247px;
}

@media screen and (max-width: 768px) {
    .saved-movies {
        margin-bottom: 170px;
    }
}

@media screen and (max-width: 320px) {
    .saved-movies {
        margin-bottom: 166px;
    }
}
