.burger__overlay {
    display: none;
    visibility: hidden;
    background: rgba(0, 0, 0, 0);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    transition: .3s ease-in-out;
}

.burger__overlay_opened {
    visibility: visible;
    background: rgba(0, 0, 0, 0.5);
}

.burger__burger-button {
    display: none;
    position: absolute;
    right: 38px;
    top: 26px;
    background: none;
    border: none;
    padding: 0;
    width: 28px;
    height: 23px;
    cursor: pointer;
}

.burger__burger-button_opened {
    display: none;
    position: fixed;
}

.burger__burger-icon {
    position: absolute;
    width: 28px;
    height: 3px;
    top: 50%;
    transform: translateY(-50%);
    background: #000000;
    transition: opacity .15s ease-in-out;
}

.burger__burger-icon::before {
    content: '';
    position: absolute;
    display: block;
    width: 28px;
    height: 3px;
    top: -10px;
    background: #000000;
    transition: transform .3s ease-in-out;
}

.burger__burger-icon::after {
    content: '';
    position: absolute;
    display: block;
    width: 28px;
    height: 3px;
    top: 10px;
    background: #000000;
    transition: transform .3s ease-in-out;
}

.burger__burger-icon_opened {
    background: transparent;
}

.burger__burger-icon_opened::before {
    top: 0;
    transform: rotate(135deg);
}

.burger__burger-icon_opened::after {
    top: 0;
    transform: rotate(225deg);
}

.burger__content {
    display: none;
    background: #ffffff;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 520px;
    transform: translateX(100%);
    box-sizing: border-box;
    padding: 159px 0 90px;
    transition: .3s ease-in-out;
}

.burger__content_opened {
    transform: translateX(0);
    position: fixed;
}

.burger__menu-items {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
}

.burger__menu-item {
    list-style-type: none;
}

.burger__menu-link {
    display: block;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    text-decoration: none;
}

.burger__menu-link_main {
    border-bottom: solid 2px #000000;
    padding-bottom: 4px;
}

.burger__profile-link {
    background: #F9F9F9;
    border-radius: 20px;
    padding: 8px 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .burger__overlay {
        display: block;
    }

    .burger__burger-button {
        display: flex;
        z-index: 2;
    }

    .burger__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        z-index: 1;
    }
}

@media screen and (max-width: 320px) {
    .burger__content {
        padding: 144px 0 46px;
        max-width: 320px;
    }

    .burger__burger-button {
        width: 22px;
        height: 21px;
        top: 28px;
        right: 23px;
    }

    .burger__burger-icon {
        width: 22px;
        height: 3px;
    }

    .burger__burger-icon::before {
        width: 22px;
        height: 3px;
    }

    .burger__burger-icon::after {
        width: 22px;
        height: 3px;
    }
}