.student {
    margin: 0;
    padding: 110px 70px 0;
}

.student__text {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: -0.04em;
    color: #000000;
    margin: 0;
    padding-bottom: 23px;
    border-bottom: 1px solid #000000;
}

.student__profile {
    display: flex;
    justify-content: space-between;
    margin-top: 66px;
    gap: 270px;
}

.student__name {
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    letter-spacing: -0.04em;
    color: #000000;
    margin: 0;
}

.student__job {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
    margin: 0;
    padding-top: 18px;
}

.student__info {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #000000;
    margin: 0;
    padding-top: 26px;
}

.student__link {
    display: block;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin: 0;
    padding-top: 100px;
}

.student__photo {
    display: block;
    width: 270px;
    height: 327px;
    border-radius: 10px;
    object-fit: cover;
}

@media screen and (max-width: 768px) {
    .student {
        padding: 90px 50px;
    }

    .student__profile {
        gap: 49px;
    }

    .student__info {
        font-size: 12px;
        line-height: 18px;
        padding-top: 20px;
    }

    .student__photo {
        width: 255px;
        height: 307px;
    }

    .student__job {
        font-size: 12px;
        line-height: 18px;
        padding-top: 16px;
    }

    .student__name {
        font-size: 40px;
        line-height: 40px;
    }
    
    .student__link {
        padding-top: 87px;
    }
}

@media screen and (max-width: 320px) {
    .student {
        padding: 70px 14px;
    }

    .student__text {
        font-size: 18px;
        line-height: 22px;
        padding-bottom: 28px;
    }

    .student__border {
        margin: 28px 0 60px;
    }

    .student__profile {
        flex-direction: column-reverse;
        margin-top: 60px;
        gap: 0;
    }

    .student__photo {
        width: 292px;
        height: 352px;
        margin-bottom: 40px;
    }

    .student__name {
        font-size: 30px;
        line-height: 36px;
    }

    .student__job {
        font-size: 11px;
        line-height: 16px;
        padding-top: 20px;
    }

    .student__info {
        padding-top: 20px;
        font-size: 11px;
        line-height: 16px;
        height: 131px;
    }

    .student__link {
        padding-top: 40px;
    }
}